html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: rgb(236,236,241);
  background: linear-gradient(90deg, rgba(236,236,241,1) 0%, rgba(203,203,208,1) 38%, rgba(112,116,117,1) 100%);
  min-height: 100%;
}
.headerBackground {
  background-image: url(./assets/assorted-wine-bottles-1283219.jpg);
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(156, 137, 137);
  padding: 2rem 0;
  width: 100%;
  height: 45vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.headerBackground:before {
  content:'';
  background: rgb(0,0,0,0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: -1;
}
.tittleWrapper {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(14,14,14,0.1) 85%);
  padding: 30px 30px;
  border-radius: 25%;
}
h1 {
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
}
.subtitle1 {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
}
.subtitle2 {
  color: black;
  font-weight: 200;
  text-align: center;
  font-size: 1.5rem;
}
.card-title {
  font-size: 1.7rem;
}
.cardHeight {
  height: max-content;
}
.card-body {
  background-color: rgb(0,0,0,0.1);
}
.card-header {
  background-color: rgb(0,0,0,0.1) !important;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}
.headerBackground {
  
}